<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{{ assets }}} 

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">{{ site.title }}</a>
          <ul class="nav">
            {{# site.navigation?to_pages }}
              {{> pages_list }}
            {{/ site.navigation?to_pages }}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

        <p>
        本站最新内容会逐步迁移至<a href="http://paperplane.github.io">新地址</a>
        </p>
      <div class="content">
        {{{ content }}}
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} 2012 
          with help from <a href="http://ruhoh.com" target="_blank" title="The Definitive Technical Blogging Framework">ruhoh</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /container -->

    {{{ google_prettify }}}
    {{{ analytics }}}
    
    <script type="text/javascript"> 
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F06032a306a3d347920bfcf3f3afad48f' type='text/javascript'%3E%3C/script%3E"));
    </script>

  </body>
</html>
